@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Remove machine</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Fire" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>